* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: #fff;
}
body{
  background-color: #b30000;
}
p{
  font-size: 110%;
  margin-bottom: 1em;
  line-height: 1.8em
}
ol {
  font-size: 110%;
  margin-bottom: 1em;
  line-height: 1.8em;
  margin-left: 50px;
}
h2{
  margin-bottom: 0.5em;
  font-size: 2em;
  font-family: 'Anton', sans-serif;
  font-weight: normal;
}
header{
  position: relative;
  padding: 50px 0;
  font-family: Playfair Display, Georgia, serif;
  color: white;
}
.banner{
  position: absolute;
  left: 0;
  top: 0;
}
.title{
  z-index: 100;
  position: absolute;
  font-size: 3.5em;
  left: 120px;
  top: 280px;
}
.sub-title{
  z-index: 100;
  position: absolute;
  font-size: 1em;
  margin-top: 5px;
  font-style: italic;
  left: 150px;
  top: 350px;
}
main{
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  position: absolute;
  width: 60%;
  top: 500px;
  left: 225px;
  padding: 25px 50px;
  color: black;
}
nav {
  background-color: #fff;
  position: relative;
  top: 385px;
  float: right;
  width: 15%;
  margin: 0 5em 1em 1em;
  padding: 1em 1em 1em 1em;
  line-height: 1.8em;
}
.zahir{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.marcin-image{
  float: right;
  padding: 0 15px 0 15px;
  text-align: center;
}
.disclaimer-marcin{
  display: block
}
.char-gen-container{
  margin-left:50px;
}
footer{
  display: flex;
  justify-content: flex-end;
}
a {
  color: black;
}
.nav-sub{
  margin-left: 50px;
}
.disclaimer, .selected{
  display: flex;
  justify-content: center;
  font-size: 1em;
}
